import { Container } from './styles'

const {{pascalCase name}} = () => {
   return (
      <Container>
         <h1>{{pascalCase name}}</h1>
      </Container>
   )
}

export default {{pascalCase name}}
